In [31]:
import xraydb
import pandas as pd
elements = ['Tb','Ba','Ag','Mo','Rb']

In [30]:
xray = []
for element in elements:
    xray.append(xraydb.xray_lines(element)['Ka1'].energy)
xray

[44482.0, 32194.0, 22163.0, 17480.0, 13396.0]

In [33]:
Xray_data = pd.DataFrame({'element':elements,
                     'Xray(most)':xray})
Xray_data

  element  Xray(most)
0      Tb     44482.0
1      Ba     32194.0
2      Ag     22163.0
3      Mo     17480.0
4      Rb     13396.0

In [35]:
Xray_data.to_csv('Xray_data.csv',index=None)