In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
plt.rcParams['font.sans-serif']=['Simhei']  #显示中文
plt.rcParams['axes.unicode_minus']=False    #显示负号

In [3]:
df=pd.read_excel('Exp8-pre.xlsx')
df

,Distance-Para/cm,Shield/(g/cm^2),Count,Background,Distance-Para/cm.1,Adding-Shield/(g/cm^2),Shield/(g/cm^2).1,Count.1,Background.1,Time(s)
0,25.0,0.0,8574.0,944.0,21,0.000,0.000,2982,994.0,10.0
1,23.0,0.0,4484.0,NaN,21,1.840,1.840,2696,NaN,NaN
2,21.0,0.0,2982.0,NaN,21,1.818,3.658,2248,NaN,NaN
3,19.0,0.0,2362.0,NaN,21,1.761,5.419,2137,NaN,NaN
4,17.0,0.0,1916.0,NaN,21,1.820,7.239,1873,NaN,NaN
5,15.0,0.0,1624.0,NaN,21,1.746,8.985,1729,NaN,NaN
6,NaN,NaN,NaN,NaN,21,1.792,10.777,1615,NaN,NaN

In [6]:
dispara=df['Distance-Para/cm'].dropna().values
count_total=df['Count'].dropna().values
count_back = df['Background'][0]